@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner-section {
  width: 80%;
  height: 450px;
  margin: auto;
  background-color: green;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  margin-top: 50px;
  border-radius: 15px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("Images/Banner\ Image.png");
}

.banner-head-title {
  margin-top: 80px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-weight: 400;
  padding-bottom: 10px;
}

.banner-title {
  text-align: center;
  font-size: 60px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  line-height: 85px;
}

/* happy new year section start */

.happy-new-year {
  padding: 70px 0;
  font-family: "Inter", sans-serif;
}

.new-year-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.new-year-head-title {
  font-size: 80px;
  font-weight: bold;
  color: #f00;
  padding: 20px 0;
}

.new-year-para {
  font-size: 20px;
  font-weight: bold;
  color: #f00;
}

.new-year-category {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  color: #070211;
  padding: 15px 0;
}

.new-year-container img {
  width: 50%;
  padding-top: 30px;
}

/* party section style start */
.party-section {
  padding: 40px 0;
}

.party-container {
  width: 80%;
  height: 450px;
  margin: auto;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("Images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.party-content {
  padding-top: 50px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.party-head-title {
  font-size: 50px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  letter-spacing: 7px;
  line-height: 70px;
  color: #fff;
}

.party-descirp {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 400;
  padding: 16px 0;
}

.party-btn {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #fff;
  transition: all 0.4s;
  margin-left: 50px;
}

.party-btn:hover {
  color: orange;
}

/* date and time section start */

.date-section {
  padding: 40px 0;
}

.date-container {
  width: 80%;
  height: 300px;
  margin: auto;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  padding: 60px 0;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  border-radius: 15px;
}

.date-container h3 span {
  color: #f00;
}

.date-container button {
  padding: 12px 30px;
  background-color: #f00;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s;
}

.date-container button:hover {
  background-color: black;
}

/* comming soon start  */

.comming-soon-section {
  padding: 40px 0;
}

.comming-soon-container {
  width: 80%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.box1-title {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #f00;
  text-transform: uppercase;
}

.box1-head-title {
  font-size: 40px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  padding: 15px 0;
}

.box1-descrip {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 16px;
  line-height: 26px;
}

.comming-img-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #f00;
  border-radius: 50%;
}

.comming-img-box img {
  width: 90%;
}

.box3-head-title {
  color: #f00;
  font-weight: bold;
  font-size: 40px;
}

.box3-descrip {
  color: rgba(7, 2, 17, 0.6);
  font-size: 16px;
  line-height: 26px;
  padding: 10px 0;
  font-family: "Inter";
}

/* holiday section start */

.holiday-section {
  padding: 40px 0;
}

.holiday-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.holiday-container h4 {
  font-family: "Inter";
  color: #070211;
  font-weight: bold;
  padding: 10px 0;
}

.holiday-container h1 {
  font-size: 60px;
  color: #070211;

  font-family: "merriweather", serif;
  font-weight: bolder;
}

.holiday-container h1 span {
  color: #f00;
}

.holiday-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding: 15px 0;
}

.holiday-image-container {
  width: 100%;
  height: 500px;
  display: flex;
  background-image: url("Images/Rectangle 1.png"), url("Images/Rectangle 2.png");
  background-repeat: no-repeat;
  background-position: top right, bottom;
  background-size: 30%, 100% 173px;
  margin-top: 50px;
}

.holiday-image-box1 {
  padding-top: 100px;
  width: 50%;
}

.holiday-image-box1 img {
  width: 390px;
}

.holiday-image-box2 {
  padding-top: 70px;
  padding-right: 100px;
  width: 50%;
}

.holiday-image-box2 img {
  width: 200px;
}
/* portfolio scetion style satrt */

.portfolio-section {
  padding: 50px 0;
}

.portfolio-container {
  width: 80%;
  margin: auto;
}

.portfolio-container h4 {
  font-size: 17px;
  font-family: "Inter";
  font-family: 500;
  color: #f00;
}

.portfolio-container h2 {
  font-size: 40px;
  font-family: "merriweather", serif;
  font-weight: bold;
  padding: 15px 0;
}

.portfolio-container p {
  font-size: 17px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  line-height: 26px;
  padding-bottom: 20px;
}

.card-container {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}
.card img {
  width: 100%;
  transition: all 0.5s;
}

.card:hover img {
  transform: scale(1.4);
}

/* subscribe section style start */

.subscribe-section {
  padding: 50px 0;
}

.subscribe-container {
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 15px;
  background: rgba(255, 0, 0, 0.05);
  padding: 50px 0;
}

.subscribe-container h1 {
  font-size: 50px;
  font-family: "merriweather", serif;
  font-weight: bold;
  padding: 20px 0;
}

.subscribe-container p {
  font-size: 15px;
  font-family: "Inter";
  font-weight: 500;
  color: rgba(7, 2, 17, 0.6);
  padding-bottom: 30px;
  line-height: 30px;
}

.subscribe-input-container {
  display: flex;
  justify-content: center;
}

.subscribe-container input[type="email"] {
  padding: 15px 20px;
  border: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 300px;
}

.subscribe-container input[type="email"]:focus {
  outline: none;
}

.subscribe-container input[type="button"] {
  padding: 15px 30px;
  border: none;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
}

.subscribe-container input[type="button"]:hover {
  background-color: #070211;
}

/* footer section style start */

footer {
  padding-top: 50px;
  background-color: #070211;
  color: #fff;
  font-family: "Inter";
  height: auto;
}

.footer-container {
  width: 80%;
  margin: auto;
}

.footer-row1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-row1 p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
}

.footer-row1 img {
  width: 17px;
}

.footer-row1-contact div {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 26px;
  padding-right: 70px;
}

.footer-row2 {
  display: flex;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 30px 0;
}

.footer-row2 span {
  cursor: pointer;
  width: 50px;
}

.footer-row3 {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-container a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}

.footer-container a:hover {
  color: orangered;
}

.hide {
  display: none;
}
/* responsive design start */

@media screen and (max-width: 576px) {
  .date-container,
  .party-container,
  .new-year-container,
  .banner-section {
    width: 95%;
    height: auto;
  }

  .holiday-container h1,
  .party-head-title,
  .new-year-head-title,
  .banner-title {
    line-height: 60px;
    font-size: 40px;
  }

  .banner-head-title {
    margin: 0;
  }

  .subscribe-container h1,
  .portfolio-container h2,
  .box1-head-title,
  .new-year-category {
    font-size: 30px;
  }

  .footer-container,
  .subscribe-container,
  .portfolio-container,
  .holiday-container,
  .comming-soon-container,
  .party-content {
    width: 95%;
    padding: 10px;
  }

  .portfolio-container p,
  .party-descirp {
    font-size: 15px;
    line-height: 20px;
  }

  .footer-row1,
  .comming-soon-container {
    flex-direction: column;
    gap: 20px;
  }

  .holiday-image-box1 {
    padding-top: 30px;
  }

  .holiday-image-box1 img {
    width: 200px;
  }

  .holiday-image-container {
    height: auto;
    background-image: url("Images/Rectangle 1.png"),
      url("Images/Rectangle 2.png");
    background-size: 40% 130px, 100% 71px;
  }

  .holiday-image-box2 {
    padding-top: 20px;
  }

  .holiday-image-box2 img {
    width: 100px;
  }
}
